{% extends 'base.html.twig' %}

{% block body %}
    <h1>Donation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ donation.id }}</td>
            </tr>
            <tr>
                <th>Datedonation</th>
                <td>{% if donation.datedonation %}{{ donation.datedonation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heuredonation</th>
                <td>{% if donation.heuredonation %}{{ donation.heuredonation|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('donation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('donation_edit', { 'id': donation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
