{% extends 'base.html.twig' %}

{% block body %}
    <h1>Associations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Theme</th>
                <th>Desc</th>
                <th>Datef</th>
                <th>Nationalite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td><a href="{{ path('association_show', { 'id': association.id }) }}">{{ association.id }}</a></td>
                <td>{{ association.name }}</td>
                <td>{{ association.theme }}</td>
                <td>{{ association.desc }}</td>
                <td>{{ association.dateF }}</td>
                <td>{{ association.nationalite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('association_show', { 'id': association.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('association_edit', { 'id': association.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('association_new') }}">Create a new association</a>
        </li>
    </ul>
{% endblock %}
